<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="main">
<div th:each="organisation: ${externalOrganisations}">
    <span th:text="${organisation.name}">name</span>
    <span th:text="${organisation.id}">id</span>
</div>

<form action="#" th:action="@{/organisations}" method="post" th:object="${creationRequest}">
    <select th:field="*{externalOrganisationId}">
        <option th:each="o: ${externalOrganisations}" th:value="${o.id}" th:text="${o.name}"></option>
    </select>
    <input type="hidden" th:field="*{sourceProvider}">
    <input type="submit" id="createOrganisation" name="create_organisation" value="Create" />
</form>
</div>
</body>
</html>