a {
    text-decoration: none;
}

nav {
    /*background-color: #ffe5e5;*/
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.howto {
    background: #f9f9fb;
    padding: 40px 70px 40px;
    border-radius: 10px;
    background-size: 100%;
}

h2 {
 font-weight: 50;
}

.screen-img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 10px #888);
}

.bitbucket-button {
    background-color: white;
    color: black;
    border: 1px solid #2684FF;
}

.bitbucket-button img {
    height: 25px;
}

.bitbucket-button span{
    vertical-align: middle;
}

.vote-button {
    color: #81aa6f;
}

#filePath {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.binding {
    border: 1px solid #ddd;
}

.binding-link {
    text-decoration: none;
}

.code-line {
    background-color: #ecedf0;
    padding: 3px;
}

@media (min-width: 1320px) {
    .screen-margins {
        margin-left: 7rem !important;
        margin-right: 7rem !important;
    }
}
