<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="main">
    <div class="row mt-3 mt-lg-3 align-items-center">
        <div class="col-md-12 ">
            <h6 th:if="${debts.isEmpty()}" class="text-center">Dashboard is empty for now</h6>
            <p class="text-center"><small th:if="${debts.isEmpty()}"><a target="_blank"
                                                                        href="https://ithurtsdev.github.io/public/">Checkout
                Getting Started guide</a></small></p>
            <div th:unless="${debts.isEmpty()}">
                <p class="text-muted">Currently, the dashboard contains only a list of active debts. More advanced data
                    displaying is coming soon.</p>
                <div th:each="debt : ${debts}">
                    <div class="card mt-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="vote-button bi fa-10x"
                                   th:data-id="${debt.id}"
                                   th:data-action="${debt.voted? 'downVote' : 'vote'}"
                                   th:classappend="${debt.voted ? 'bi-caret-up-fill' : 'bi-caret-up'}"
                                   th:title="${debt.voted? 'Downvote' : 'Vote'}"
                                th:onClick="vote(this.getAttribute('data-id'), this.getAttribute('data-action'), this)"></i>
                                <span th:text="${debt.title}"></span></h5>
                            <h6 th:if="${!debt.status.toString().equals('OPEN')}">
                                <span class="badge bg-dark">PROBABLY RESOLVED</span>
                            </h6>
                            <h6 th:if="${debt.status.toString().equals('OPEN')}">
                                <span class="badge bg-dark">OPEN</span> <span class="text-muted ps-2"
                                                                              th:text="${debt.votes} + ' people were hurt by this'"></span>
                            </h6>
                            <p class="text-muted">
                                <span th:text="${debt.repository.name}"></span> /
                                <a th:href="${debt.sourceLink.url}"
                                   target="_blank"
                                   class="text-muted"
                                   th:text="${debt.sourceLink.text}"></a>
                            </p>
                            <pre th:text="${debt.description}"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>