<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="main">
    <div th:if="${#session.getAttribute('currentOrganisation.role') == null}">
        <h2>Nothing here yet..</h2>
        <p>You can just wait your teammates to invite you to the organisation if ItHurts is already used in your
            company</p>
        <p> or </p>
        <a th:href="@{organisations/new}">Create the organisation</a>
    </div>
    <div th:else>
        <h1 th:text="${org.name}"></h1>
        <h2>Dashboard is empty for now</h2>
        <a th:if="${#session.getAttribute('currentOrganisation.role') == 'ADMIN'}" th:href="@{organisations/invite}">
            Invite teammates
        </a>
        <ul>
            <li th:each="debt : ${debts}">
                <h2 th:text="${debt.title}"></h2>
                <p th:text="${debt.description}"></p>
            </li>
    </div>
</div>
</body>
</html>