<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="main">
    <div class="row mt-3 mt-lg-5 align-items-center">
        <div class="col-md-12 ">
            <div class="text-center">
                <div class="m-4">
                    <h3>Welcome to Resolvt!</h3>
                    <div class="text-secondary">
                        <p>
                            As a new user, you are not currently a member of any workspaces. </p>
                        <p>
                            <a th:href="${@sourceProviderService.getSourceProviderConnectLink()}">
                                Create a new workspace</a> or request access to an existing one from your team members.
                        </p>
                        <p>
                            To learn more about how to use Resolvt
                            <a href="https://resolvt.github.io/getting-started.html#setting-up" target="_blank"> read
                                this guide</a>
                            or <a href="mailto:resolvt@gmail.com">contact us directly</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>